/*Celulares*/
@media(max-width: 540px){
    /*CABEÇALHO*/
    .cabecalho__logo img{
        width: 140px;
        height: 50px;
    }

    .cabecalho__menu{ 
        display: none;
    }
    
    .cabecalho__botao--menu{
        display: block;
    }

    /* SEÇÃO APRESENTAÇAO*/
    .secao__apresentacao{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 6% 5%;
    }

    .apresentacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .apresentacao__nome{
        font-size: 1.5rem;
    }

    .apresentacao__funcao{
        font-size: 1rem;
    }

    .apresentacao__contatos{
        display: flex;
        justify-content: center;
    }

    .apresentacao__contatos--icones{
        width: 30px;
        height: 30px;
    }

    .apresentacao__foto{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .apresentacao__foto img{
        width: 70%;
        height: 70%;
    }

    /*SEÇAO SOBRE MIM*/
    .sobre-mim{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10% 4%;
        gap: 20px;
    }

    .sobre-mim__foto{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre-mim__foto img{
        width: 80%;
        height: 80%;
    }

    .sobre-mim__informacoes{
        width: 80%;
    }

    .sobre-mim__titulo{
        font-size: 2.25rem;
    }

    /*SKILLS*/
    .skills__container{
        padding: 1%;
    }

    .titulo{
        font-size: 2.25rem;
        margin: 2% 0;
    }

    .slide__container{
        margin: 5% 0;
    }

    .slide-items img{
        height: 50px;
        margin: 0 15px;
    }

    

    /*RODAPÉ*/
    .rodape__container{
        height: 60px;
    }

    .rodape__informacao{
        font-size: 0.7em;
    }
}


/*Tablets pequenos*/
@media(min-width: 541px) and (max-width: 991px){
    /*CABEÇALHO*/
    .cabecalho__logo img{
        width: 160px;
        height: 60px;
    }

    .cabecalho__menu{ 
        display: none;
    }
    
    .cabecalho__botao--menu{
        display: block;
    }

    /* SEÇÃO APRESENTAÇAO*/
    .apresentacao__foto{
        width: 250px;
        height: 250px;
    }

    .apresentacao__foto img{
        width: 250px;
        height: 250px;
    }

    .apresentacao__nome{
        font-size: 1.8rem;
    }

    .apresentacao__funcao{
        font-size: 1.3rem;
    }

    .apresentacao__contatos--icones{
        width: 30px;
        height: 30px;
    }

    /*SEÇAO SOBRE MIM*/
    .sobre-mim{
        padding: 5%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    .sobre-mim__foto img{
        width: 250px;
        height: 350px;
    }

    .sobre-mim__titulo{
        font-size: 2rem;
    }

    /*RODAPÉ*/
    .rodape__container{
        height: 60px;
    }

    .rodape__informacao{
        font-size: 1em;
    }
}



/*Tablets/Notebooks grandes*/
@media(min-width: 992px) and (max-width: 1199px){}