/*Celulares*/
@media(max-width: 480px){
    /*CABEÇALHO*/
    .cabecalho__logo img{
        width: 140px;
        height: 50px;
    }

    .cabecalho__menu{ 
        display: none;
    }
    
    .cabecalho__botao--menu{
        display: block;
    }

    /* SEÇÃO APRESENTAÇAO*/
    .secao__apresentacao{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .apresentacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .apresentacao__nome{
        font-size: 1.5rem;
    }

    .apresentacao__funcao{
        font-size: 1rem;
    }

    .apresentacao__contatos{
        display: flex;
        justify-content: center;
    }

    .apresentacao__contatos--icones{
        width: 30px;
        height: 30px;
    }

    .apresentacao__foto{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .apresentacao__foto img{
        width: 70%;
        height: 70%;
    }

    /*RODAPÉ*/
    .rodape__container{
        height: 60px;
    }

    .rodape__informacao{
        font-size: 0.7em;
    }
}


/*Tablets pequenos*/
@media(min-width: 481px) and (max-width: 991px){
    /*CABEÇALHO*/
    .cabecalho__logo img{
        width: 160px;
        height: 60px;
    }

    .cabecalho__menu{ 
        display: none;
    }
    
    .cabecalho__botao--menu{
        display: block;
    }

    /* SEÇÃO APRESENTAÇAO*/
    .apresentacao__foto img{
        width: 300px;
        height: 300px;
    }

    .apresentacao__nome{
        font-size: 1.8rem;
    }

    .apresentacao__funcao{
        font-size: 1.3rem;
    }

    /*RODAPÉ*/
    .rodape__container{
        height: 60px;
    }

    .rodape__informacao{
        font-size: 1em;
    }
}

/*Tablets/Notebooks grandes*/
@media(min-width: 992px) and (max-width: 1199px){

}